<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TestLeaf | Registration Page</title>
</head>
<body>
<div>
    <h1 align="Center">Welcome to TestLeaf</h1>
</div>>
<form action="/register" method="post">
<p>
<label for="fname">fname</label>
<input id="fname" name="FNAME" placeholder="fname">
</p>

<p>
<label for="lname">lname</label>
<input id="lname" name="LNAME" placeholder="lname">
</p>

<p>
<label for="email">email</label>
<input id="email" name="EMAIL" placeholder="email">
</p>

<p>
<label for="pwd">pwd</label>
<input id="pwd" name="PWD" placeholder="pwd">
</p>
<input type="submit" value="Submit">
</form>
</body>
</html>